.edbDetailTable_components{
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #DDD;
    .title{
        flex: 1;
        font-size: 18px;
        color: #000000;
        font-weight: bold;
        margin-bottom: 19px;
        font-family: PingFangSC-Medium;
    }
}
