<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="la.niub.abcapi.servicecompre.dao.reporter.IFundKeeperHoldStkDao">
  <resultMap id="BaseResultMap" type="la.niub.abcapi.servicecompre.model.FundKeeperHoldStkModel">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="end_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="fund_keeper_code" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="stk_uni_code" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="stk_abc_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="inv_stk_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="hold_stk_fund_amt" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="hold_stk_amt" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="hold_stk_amt_chg" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="hold_cir_stk_amt_ratio" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="hold_stk_value" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="hold_stk_value_nav_ratio" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="hold_stk_value_stk_ratio" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="half_year_stk_amt_chg" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updatetime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="editor" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, end_date, fund_keeper_code, stk_uni_code, stk_abc_code, inv_stk_name, hold_stk_fund_amt, 
    hold_stk_amt, hold_stk_amt_chg, hold_cir_stk_amt_ratio, hold_stk_value, hold_stk_value_nav_ratio, 
    hold_stk_value_stk_ratio, half_year_stk_amt_chg, createtime, updatetime, status, 
    creator, editor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fund_keeper_hold_stk
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fund_keeper_hold_stk
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="la.niub.abcapi.servicecompre.model.FundKeeperHoldStkModel">
    insert into fund_keeper_hold_stk (id, end_date, fund_keeper_code, 
      stk_uni_code, stk_abc_code, inv_stk_name, 
      hold_stk_fund_amt, hold_stk_amt, hold_stk_amt_chg, 
      hold_cir_stk_amt_ratio, hold_stk_value, 
      hold_stk_value_nav_ratio, hold_stk_value_stk_ratio, 
      half_year_stk_amt_chg, createtime, updatetime, 
      status, creator, editor
      )
    values (#{id,jdbcType=BIGINT}, #{end_date,jdbcType=DATE}, #{fund_keeper_code,jdbcType=BIGINT}, 
      #{stk_uni_code,jdbcType=BIGINT}, #{stk_abc_code,jdbcType=VARCHAR}, #{inv_stk_name,jdbcType=VARCHAR}, 
      #{hold_stk_fund_amt,jdbcType=INTEGER}, #{hold_stk_amt,jdbcType=DECIMAL}, #{hold_stk_amt_chg,jdbcType=DECIMAL}, 
      #{hold_cir_stk_amt_ratio,jdbcType=DECIMAL}, #{hold_stk_value,jdbcType=DECIMAL}, 
      #{hold_stk_value_nav_ratio,jdbcType=DECIMAL}, #{hold_stk_value_stk_ratio,jdbcType=DECIMAL}, 
      #{half_year_stk_amt_chg,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, #{editor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="la.niub.abcapi.servicecompre.model.FundKeeperHoldStkModel">
    insert into fund_keeper_hold_stk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="end_date != null">
        end_date,
      </if>
      <if test="fund_keeper_code != null">
        fund_keeper_code,
      </if>
      <if test="stk_uni_code != null">
        stk_uni_code,
      </if>
      <if test="stk_abc_code != null">
        stk_abc_code,
      </if>
      <if test="inv_stk_name != null">
        inv_stk_name,
      </if>
      <if test="hold_stk_fund_amt != null">
        hold_stk_fund_amt,
      </if>
      <if test="hold_stk_amt != null">
        hold_stk_amt,
      </if>
      <if test="hold_stk_amt_chg != null">
        hold_stk_amt_chg,
      </if>
      <if test="hold_cir_stk_amt_ratio != null">
        hold_cir_stk_amt_ratio,
      </if>
      <if test="hold_stk_value != null">
        hold_stk_value,
      </if>
      <if test="hold_stk_value_nav_ratio != null">
        hold_stk_value_nav_ratio,
      </if>
      <if test="hold_stk_value_stk_ratio != null">
        hold_stk_value_stk_ratio,
      </if>
      <if test="half_year_stk_amt_chg != null">
        half_year_stk_amt_chg,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="editor != null">
        editor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="end_date != null">
        #{end_date,jdbcType=DATE},
      </if>
      <if test="fund_keeper_code != null">
        #{fund_keeper_code,jdbcType=BIGINT},
      </if>
      <if test="stk_uni_code != null">
        #{stk_uni_code,jdbcType=BIGINT},
      </if>
      <if test="stk_abc_code != null">
        #{stk_abc_code,jdbcType=VARCHAR},
      </if>
      <if test="inv_stk_name != null">
        #{inv_stk_name,jdbcType=VARCHAR},
      </if>
      <if test="hold_stk_fund_amt != null">
        #{hold_stk_fund_amt,jdbcType=INTEGER},
      </if>
      <if test="hold_stk_amt != null">
        #{hold_stk_amt,jdbcType=DECIMAL},
      </if>
      <if test="hold_stk_amt_chg != null">
        #{hold_stk_amt_chg,jdbcType=DECIMAL},
      </if>
      <if test="hold_cir_stk_amt_ratio != null">
        #{hold_cir_stk_amt_ratio,jdbcType=DECIMAL},
      </if>
      <if test="hold_stk_value != null">
        #{hold_stk_value,jdbcType=DECIMAL},
      </if>
      <if test="hold_stk_value_nav_ratio != null">
        #{hold_stk_value_nav_ratio,jdbcType=DECIMAL},
      </if>
      <if test="hold_stk_value_stk_ratio != null">
        #{hold_stk_value_stk_ratio,jdbcType=DECIMAL},
      </if>
      <if test="half_year_stk_amt_chg != null">
        #{half_year_stk_amt_chg,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="la.niub.abcapi.servicecompre.model.FundKeeperHoldStkModel">
    update fund_keeper_hold_stk
    <set>
      <if test="end_date != null">
        end_date = #{end_date,jdbcType=DATE},
      </if>
      <if test="fund_keeper_code != null">
        fund_keeper_code = #{fund_keeper_code,jdbcType=BIGINT},
      </if>
      <if test="stk_uni_code != null">
        stk_uni_code = #{stk_uni_code,jdbcType=BIGINT},
      </if>
      <if test="stk_abc_code != null">
        stk_abc_code = #{stk_abc_code,jdbcType=VARCHAR},
      </if>
      <if test="inv_stk_name != null">
        inv_stk_name = #{inv_stk_name,jdbcType=VARCHAR},
      </if>
      <if test="hold_stk_fund_amt != null">
        hold_stk_fund_amt = #{hold_stk_fund_amt,jdbcType=INTEGER},
      </if>
      <if test="hold_stk_amt != null">
        hold_stk_amt = #{hold_stk_amt,jdbcType=DECIMAL},
      </if>
      <if test="hold_stk_amt_chg != null">
        hold_stk_amt_chg = #{hold_stk_amt_chg,jdbcType=DECIMAL},
      </if>
      <if test="hold_cir_stk_amt_ratio != null">
        hold_cir_stk_amt_ratio = #{hold_cir_stk_amt_ratio,jdbcType=DECIMAL},
      </if>
      <if test="hold_stk_value != null">
        hold_stk_value = #{hold_stk_value,jdbcType=DECIMAL},
      </if>
      <if test="hold_stk_value_nav_ratio != null">
        hold_stk_value_nav_ratio = #{hold_stk_value_nav_ratio,jdbcType=DECIMAL},
      </if>
      <if test="hold_stk_value_stk_ratio != null">
        hold_stk_value_stk_ratio = #{hold_stk_value_stk_ratio,jdbcType=DECIMAL},
      </if>
      <if test="half_year_stk_amt_chg != null">
        half_year_stk_amt_chg = #{half_year_stk_amt_chg,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="editor != null">
        editor = #{editor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="la.niub.abcapi.servicecompre.model.FundKeeperHoldStkModel">
    update fund_keeper_hold_stk
    set end_date = #{end_date,jdbcType=DATE},
      fund_keeper_code = #{fund_keeper_code,jdbcType=BIGINT},
      stk_uni_code = #{stk_uni_code,jdbcType=BIGINT},
      stk_abc_code = #{stk_abc_code,jdbcType=VARCHAR},
      inv_stk_name = #{inv_stk_name,jdbcType=VARCHAR},
      hold_stk_fund_amt = #{hold_stk_fund_amt,jdbcType=INTEGER},
      hold_stk_amt = #{hold_stk_amt,jdbcType=DECIMAL},
      hold_stk_amt_chg = #{hold_stk_amt_chg,jdbcType=DECIMAL},
      hold_cir_stk_amt_ratio = #{hold_cir_stk_amt_ratio,jdbcType=DECIMAL},
      hold_stk_value = #{hold_stk_value,jdbcType=DECIMAL},
      hold_stk_value_nav_ratio = #{hold_stk_value_nav_ratio,jdbcType=DECIMAL},
      hold_stk_value_stk_ratio = #{hold_stk_value_stk_ratio,jdbcType=DECIMAL},
      half_year_stk_amt_chg = #{half_year_stk_amt_chg,jdbcType=DECIMAL},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      editor = #{editor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>