<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="la.niub.abcapi.servicecompre.dao.reporter.IFundNavReturnDao">
  <resultMap id="BaseResultMap" type="la.niub.abcapi.servicecompre.model.FundNavReturnModel">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sec_uni_code" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="end_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="unit_nav" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="cumu_unit_nav" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="adj_unit_nav" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="cumu_unit_nav_differ" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="adj_unit_nav_differ" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="rise_rate" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="cumu_unit_nav_rise_rate" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="currency_type" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="nav_return_l_1w" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_l_1m" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_l_3m" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_l_6m" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_l_1y" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_l_2y" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_l_3y" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_l_5y" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_t_1w" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_t_1m" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_t_1q" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_t_1y" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="nav_return_found" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updatetime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="editor" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sec_uni_code, end_date, unit_nav, cumu_unit_nav, adj_unit_nav, cumu_unit_nav_differ, 
    adj_unit_nav_differ, rise_rate, cumu_unit_nav_rise_rate, currency_type, nav_return_l_1w, 
    nav_return_l_1m, nav_return_l_3m, nav_return_l_6m, nav_return_l_1y, nav_return_l_2y, 
    nav_return_l_3y, nav_return_l_5y, nav_return_t_1w, nav_return_t_1m, nav_return_t_1q, 
    nav_return_t_1y, nav_return_found, createtime, updatetime, status, creator, editor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fund_nav_return
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fund_nav_return
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="la.niub.abcapi.servicecompre.model.FundNavReturnModel">
    insert into fund_nav_return (id, sec_uni_code, end_date, 
      unit_nav, cumu_unit_nav, adj_unit_nav, 
      cumu_unit_nav_differ, adj_unit_nav_differ, 
      rise_rate, cumu_unit_nav_rise_rate, currency_type, 
      nav_return_l_1w, nav_return_l_1m, nav_return_l_3m, 
      nav_return_l_6m, nav_return_l_1y, nav_return_l_2y, 
      nav_return_l_3y, nav_return_l_5y, nav_return_t_1w, 
      nav_return_t_1m, nav_return_t_1q, nav_return_t_1y, 
      nav_return_found, createtime, updatetime, 
      status, creator, editor
      )
    values (#{id,jdbcType=BIGINT}, #{sec_uni_code,jdbcType=BIGINT}, #{end_date,jdbcType=DATE}, 
      #{unit_nav,jdbcType=DECIMAL}, #{cumu_unit_nav,jdbcType=DECIMAL}, #{adj_unit_nav,jdbcType=DECIMAL}, 
      #{cumu_unit_nav_differ,jdbcType=DECIMAL}, #{adj_unit_nav_differ,jdbcType=DECIMAL}, 
      #{rise_rate,jdbcType=DECIMAL}, #{cumu_unit_nav_rise_rate,jdbcType=DECIMAL}, #{currency_type,jdbcType=BIGINT}, 
      #{nav_return_l_1w,jdbcType=DECIMAL}, #{nav_return_l_1m,jdbcType=DECIMAL}, #{nav_return_l_3m,jdbcType=DECIMAL}, 
      #{nav_return_l_6m,jdbcType=DECIMAL}, #{nav_return_l_1y,jdbcType=DECIMAL}, #{nav_return_l_2y,jdbcType=DECIMAL}, 
      #{nav_return_l_3y,jdbcType=DECIMAL}, #{nav_return_l_5y,jdbcType=DECIMAL}, #{nav_return_t_1w,jdbcType=DECIMAL}, 
      #{nav_return_t_1m,jdbcType=DECIMAL}, #{nav_return_t_1q,jdbcType=DECIMAL}, #{nav_return_t_1y,jdbcType=DECIMAL}, 
      #{nav_return_found,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, #{editor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="la.niub.abcapi.servicecompre.model.FundNavReturnModel">
    insert into fund_nav_return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sec_uni_code != null">
        sec_uni_code,
      </if>
      <if test="end_date != null">
        end_date,
      </if>
      <if test="unit_nav != null">
        unit_nav,
      </if>
      <if test="cumu_unit_nav != null">
        cumu_unit_nav,
      </if>
      <if test="adj_unit_nav != null">
        adj_unit_nav,
      </if>
      <if test="cumu_unit_nav_differ != null">
        cumu_unit_nav_differ,
      </if>
      <if test="adj_unit_nav_differ != null">
        adj_unit_nav_differ,
      </if>
      <if test="rise_rate != null">
        rise_rate,
      </if>
      <if test="cumu_unit_nav_rise_rate != null">
        cumu_unit_nav_rise_rate,
      </if>
      <if test="currency_type != null">
        currency_type,
      </if>
      <if test="nav_return_l_1w != null">
        nav_return_l_1w,
      </if>
      <if test="nav_return_l_1m != null">
        nav_return_l_1m,
      </if>
      <if test="nav_return_l_3m != null">
        nav_return_l_3m,
      </if>
      <if test="nav_return_l_6m != null">
        nav_return_l_6m,
      </if>
      <if test="nav_return_l_1y != null">
        nav_return_l_1y,
      </if>
      <if test="nav_return_l_2y != null">
        nav_return_l_2y,
      </if>
      <if test="nav_return_l_3y != null">
        nav_return_l_3y,
      </if>
      <if test="nav_return_l_5y != null">
        nav_return_l_5y,
      </if>
      <if test="nav_return_t_1w != null">
        nav_return_t_1w,
      </if>
      <if test="nav_return_t_1m != null">
        nav_return_t_1m,
      </if>
      <if test="nav_return_t_1q != null">
        nav_return_t_1q,
      </if>
      <if test="nav_return_t_1y != null">
        nav_return_t_1y,
      </if>
      <if test="nav_return_found != null">
        nav_return_found,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="editor != null">
        editor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sec_uni_code != null">
        #{sec_uni_code,jdbcType=BIGINT},
      </if>
      <if test="end_date != null">
        #{end_date,jdbcType=DATE},
      </if>
      <if test="unit_nav != null">
        #{unit_nav,jdbcType=DECIMAL},
      </if>
      <if test="cumu_unit_nav != null">
        #{cumu_unit_nav,jdbcType=DECIMAL},
      </if>
      <if test="adj_unit_nav != null">
        #{adj_unit_nav,jdbcType=DECIMAL},
      </if>
      <if test="cumu_unit_nav_differ != null">
        #{cumu_unit_nav_differ,jdbcType=DECIMAL},
      </if>
      <if test="adj_unit_nav_differ != null">
        #{adj_unit_nav_differ,jdbcType=DECIMAL},
      </if>
      <if test="rise_rate != null">
        #{rise_rate,jdbcType=DECIMAL},
      </if>
      <if test="cumu_unit_nav_rise_rate != null">
        #{cumu_unit_nav_rise_rate,jdbcType=DECIMAL},
      </if>
      <if test="currency_type != null">
        #{currency_type,jdbcType=BIGINT},
      </if>
      <if test="nav_return_l_1w != null">
        #{nav_return_l_1w,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_1m != null">
        #{nav_return_l_1m,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_3m != null">
        #{nav_return_l_3m,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_6m != null">
        #{nav_return_l_6m,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_1y != null">
        #{nav_return_l_1y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_2y != null">
        #{nav_return_l_2y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_3y != null">
        #{nav_return_l_3y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_5y != null">
        #{nav_return_l_5y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_t_1w != null">
        #{nav_return_t_1w,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_t_1m != null">
        #{nav_return_t_1m,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_t_1q != null">
        #{nav_return_t_1q,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_t_1y != null">
        #{nav_return_t_1y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_found != null">
        #{nav_return_found,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="la.niub.abcapi.servicecompre.model.FundNavReturnModel">
    update fund_nav_return
    <set>
      <if test="sec_uni_code != null">
        sec_uni_code = #{sec_uni_code,jdbcType=BIGINT},
      </if>
      <if test="end_date != null">
        end_date = #{end_date,jdbcType=DATE},
      </if>
      <if test="unit_nav != null">
        unit_nav = #{unit_nav,jdbcType=DECIMAL},
      </if>
      <if test="cumu_unit_nav != null">
        cumu_unit_nav = #{cumu_unit_nav,jdbcType=DECIMAL},
      </if>
      <if test="adj_unit_nav != null">
        adj_unit_nav = #{adj_unit_nav,jdbcType=DECIMAL},
      </if>
      <if test="cumu_unit_nav_differ != null">
        cumu_unit_nav_differ = #{cumu_unit_nav_differ,jdbcType=DECIMAL},
      </if>
      <if test="adj_unit_nav_differ != null">
        adj_unit_nav_differ = #{adj_unit_nav_differ,jdbcType=DECIMAL},
      </if>
      <if test="rise_rate != null">
        rise_rate = #{rise_rate,jdbcType=DECIMAL},
      </if>
      <if test="cumu_unit_nav_rise_rate != null">
        cumu_unit_nav_rise_rate = #{cumu_unit_nav_rise_rate,jdbcType=DECIMAL},
      </if>
      <if test="currency_type != null">
        currency_type = #{currency_type,jdbcType=BIGINT},
      </if>
      <if test="nav_return_l_1w != null">
        nav_return_l_1w = #{nav_return_l_1w,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_1m != null">
        nav_return_l_1m = #{nav_return_l_1m,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_3m != null">
        nav_return_l_3m = #{nav_return_l_3m,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_6m != null">
        nav_return_l_6m = #{nav_return_l_6m,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_1y != null">
        nav_return_l_1y = #{nav_return_l_1y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_2y != null">
        nav_return_l_2y = #{nav_return_l_2y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_3y != null">
        nav_return_l_3y = #{nav_return_l_3y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_l_5y != null">
        nav_return_l_5y = #{nav_return_l_5y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_t_1w != null">
        nav_return_t_1w = #{nav_return_t_1w,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_t_1m != null">
        nav_return_t_1m = #{nav_return_t_1m,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_t_1q != null">
        nav_return_t_1q = #{nav_return_t_1q,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_t_1y != null">
        nav_return_t_1y = #{nav_return_t_1y,jdbcType=DECIMAL},
      </if>
      <if test="nav_return_found != null">
        nav_return_found = #{nav_return_found,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="editor != null">
        editor = #{editor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="la.niub.abcapi.servicecompre.model.FundNavReturnModel">
    update fund_nav_return
    set sec_uni_code = #{sec_uni_code,jdbcType=BIGINT},
      end_date = #{end_date,jdbcType=DATE},
      unit_nav = #{unit_nav,jdbcType=DECIMAL},
      cumu_unit_nav = #{cumu_unit_nav,jdbcType=DECIMAL},
      adj_unit_nav = #{adj_unit_nav,jdbcType=DECIMAL},
      cumu_unit_nav_differ = #{cumu_unit_nav_differ,jdbcType=DECIMAL},
      adj_unit_nav_differ = #{adj_unit_nav_differ,jdbcType=DECIMAL},
      rise_rate = #{rise_rate,jdbcType=DECIMAL},
      cumu_unit_nav_rise_rate = #{cumu_unit_nav_rise_rate,jdbcType=DECIMAL},
      currency_type = #{currency_type,jdbcType=BIGINT},
      nav_return_l_1w = #{nav_return_l_1w,jdbcType=DECIMAL},
      nav_return_l_1m = #{nav_return_l_1m,jdbcType=DECIMAL},
      nav_return_l_3m = #{nav_return_l_3m,jdbcType=DECIMAL},
      nav_return_l_6m = #{nav_return_l_6m,jdbcType=DECIMAL},
      nav_return_l_1y = #{nav_return_l_1y,jdbcType=DECIMAL},
      nav_return_l_2y = #{nav_return_l_2y,jdbcType=DECIMAL},
      nav_return_l_3y = #{nav_return_l_3y,jdbcType=DECIMAL},
      nav_return_l_5y = #{nav_return_l_5y,jdbcType=DECIMAL},
      nav_return_t_1w = #{nav_return_t_1w,jdbcType=DECIMAL},
      nav_return_t_1m = #{nav_return_t_1m,jdbcType=DECIMAL},
      nav_return_t_1q = #{nav_return_t_1q,jdbcType=DECIMAL},
      nav_return_t_1y = #{nav_return_t_1y,jdbcType=DECIMAL},
      nav_return_found = #{nav_return_found,jdbcType=DECIMAL},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      editor = #{editor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getLastBySecUniCode" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fund_nav_return
    where sec_uni_code = #{secUniCode,jdbcType=BIGINT} order by end_date desc limit 1
  </select>

  <select id="getMaxDateBySecUniCodeList" resultType="map">
    SELECT
        sec_uni_code,
        MAX(end_date) end_date
    FROM
        fund_nav_return
    WHERE
        sec_uni_code IN
        <foreach collection="secUniCodeList" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
    GROUP BY
        sec_uni_code
  </select>

  <select id="getNavReturnL1yBySecUniCodeAndEndDate" resultType="la.niub.abcapi.servicecompre.model.response.fund.FundRiseRankingItemResponse">
    SELECT
      sec_uni_code sec_uni_code,
      nav_return_l_1y rise_rate
    FROM
      fund_nav_return fnr
    WHERE
    <foreach collection="param" item="item" open="(" separator="OR" close=")">
      (fnr.sec_uni_code = #{item.sec_uni_code} AND fnr.end_date = #{item.end_date})
    </foreach>
    ORDER BY nav_return_l_1y DESC
    limit #{limit}
  </select>

  <select id="getCodeAndMatDateBySecUniCodeList" resultType="map">
    SELECT sec_uni_code, MAX(end_date)
    FROM fund_nav_return
    WHERE sec_uni_code IN
      <foreach collection="secUniCodeList" open="(" close=")" separator="," item="secUniCode">
        #{secUniCode}
      </foreach>
    GROUP BY sec_uni_code
  </select>

  <select id="getReturnInfoBySecUniCode" resultType="map">
    SELECT sec_uni_code, nav_return_l_1w, nav_return_l_1m,  nav_return_l_3m, nav_return_l_6m, nav_return_t_1y
    FROM fund_nav_return
    WHERE sec_uni_code = #{secUniCode}
    AND end_date = (SELECT MAX(end_date) FROM fund_nav_return WHERE sec_uni_code = #{secUniCode})
    LIMIT 1
  </select>
</mapper>