<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="la.niub.abcapi.servicecompre.dao.reporter.IOvsecHKShareSalaryDao">
    <select id="getLatestFourDateByComUniCode" resultType="java.util.Date">
        SELECT end_date
        FROM ovsec_hk_share_salary
        WHERE  DATE_FORMAT(end_date,'%m%d') IN ('0630','1231')
        AND com_uni_code = #{com_uni_code}
        AND peo_uni_code = #{peo_uni_code}
        GROUP BY end_date
        ORDER BY end_date DESC
        LIMIT 4
    </select>

    <select id="getStockHolderInfo" resultType="map">
        SELECT com_uni_code, end_date, peo_uni_code, led_name, post_name, salary, hold_vol AS stockCount
        FROM ovsec_hk_share_salary
        WHERE STATUS!='9'
        AND com_uni_code = #{com_uni_code}
        AND end_date IN
        <foreach collection="latestFourDateList" item="latestFourDate" open="(" close=")" separator=",">
            #{latestFourDate}
        </foreach>
        AND peo_uni_code = #{peo_uni_code}
        ORDER BY end_date DESC
    </select>


</mapper>


