<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="la.niub.abcapi.servicecompre.dao.reporter.IWechatOperationDao">
  <resultMap id="BaseResultMap" type="la.niub.abcapi.servicecompre.model.WechatOperationModel">
    <constructor>
      <idArg column="wechat_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <idArg column="date" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="total_read_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="top_read_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    wechat_id, date, total_read_num, top_read_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="la.niub.abcapi.servicecompre.model.WechatOperationKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechat_operation
    where wechat_id = #{wechat_id,jdbcType=BIGINT}
      and date = #{date,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="la.niub.abcapi.servicecompre.model.WechatOperationKey">
    delete from wechat_operation
    where wechat_id = #{wechat_id,jdbcType=BIGINT}
      and date = #{date,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="la.niub.abcapi.servicecompre.model.WechatOperationModel">
    insert into wechat_operation (wechat_id, date, total_read_num, 
      top_read_num)
    values (#{wechat_id,jdbcType=BIGINT}, #{date,jdbcType=INTEGER}, #{total_read_num,jdbcType=INTEGER}, 
      #{top_read_num,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="la.niub.abcapi.servicecompre.model.WechatOperationModel">
    insert into wechat_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wechat_id != null">
        wechat_id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="total_read_num != null">
        total_read_num,
      </if>
      <if test="top_read_num != null">
        top_read_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wechat_id != null">
        #{wechat_id,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=INTEGER},
      </if>
      <if test="total_read_num != null">
        #{total_read_num,jdbcType=INTEGER},
      </if>
      <if test="top_read_num != null">
        #{top_read_num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="la.niub.abcapi.servicecompre.model.WechatOperationModel">
    update wechat_operation
    <set>
      <if test="total_read_num != null">
        total_read_num = #{total_read_num,jdbcType=INTEGER},
      </if>
      <if test="top_read_num != null">
        top_read_num = #{top_read_num,jdbcType=INTEGER},
      </if>
    </set>
    where wechat_id = #{wechat_id,jdbcType=BIGINT}
      and date = #{date,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="la.niub.abcapi.servicecompre.model.WechatOperationModel">
    update wechat_operation
    set total_read_num = #{total_read_num,jdbcType=INTEGER},
      top_read_num = #{top_read_num,jdbcType=INTEGER}
    where wechat_id = #{wechat_id,jdbcType=BIGINT}
      and date = #{date,jdbcType=INTEGER}
  </update>
  <select id="getByWechatIdAndDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wechat_operation
    where wechat_id = #{wechatId,jdbcType=BIGINT}
    and date >= #{date,jdbcType=INTEGER}
  </select>
</mapper>