.abc-report-dashboard {
    overflow-x: auto;

    .mail-container {
        overflow: auto;
        padding-top: 0px;
        .result-left-wrp {
            // width: 1018px;
            width: 100%;
            float: left;
            overflow: hidden;
            padding: 0px 2px;
        }
        .result-card {
            background: #FFFFFF;
            border-radius: 4px; // border: 1px solid rgba(234, 234, 234, 1);
            box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.2);
        }
        .result-bottom {
            // height:32px;
            // padding-top:37px;
            margin-top: 1px;
            background: white;
            position: relative; //        z-index: 10000;
        }
        .result-right-wrp {
            width: 240px;
            float: right;
        }
    }
    
    .mail-con-nav {
        height: 45px;
        width: 100%;
        background-color: #FCFCFC;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 18px;
    }
    
    .mail-list-results {
        background-color: #fff;
        height: 100%;
        .content-loading {
            text-align: center;
            min-height: 300px;
            padding-top: 100px;
        }
        .mail-divider {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
            background: #eee
        }
        .result-content {
            height: 44px;
            line-height: 44px;
            margin-bottom: 0;
            padding-left: 20px;
        }
        .result-number {
            color: #3A6BB1;
        }
        .noResult {
            text-align: center;
            padding-bottom: 10rem;
            .noMail {
                width: 123px;
                height: 140px;
            }
            .re-input {
                margin-top: 20px;
                line-height: 12px;
                color: rgba(153, 153, 153, 1);
                font-size: 12px;
                span {
                    color: #3A6BB1;
                    cursor: pointer;
                }
            }
        }
        .mail-list {
            .more-btn {
                height: 3rem;
                line-height: 3rem;
                color: #3a6bb1;
            }
        }
        .report_list {
            // width: 950px;
            // 右边暂时没有
            width: 100%;
            .filter_container {
                height: 46px;
            }
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
        }
        .type_report_list {
            .stock_container .stock_name {
                font-size: 14px;
            }
        }
        .filter {
            .filter_item {
                padding: 0 10px;
            }
            .filter_item_select {
                padding: 0 0 0 10px;
            }
            [role="combobox"] {
                border: 0 !important;
                background-color: #f0f2f5;
            }
        }
        .ant-list-item-content {
            width: 100%;
        }
        .report_type_container {
            >div {
                cursor: pointer;
                height: 40px;
                >i {
                    margin-top: 2.5px;
                }
                >span {
                    margin-left: 15px;
                } // &:hover{
                //   background-color: #3f7cd5;
                //   color: white;
                // }
            }
        }
    }
    
    .kong {
        .mail-sort-action {
            padding: 9px 11px 9px 21px;
            display: flex;
            justify-content: space-between;
            background: #fff;
        }
    }
    
    .tab-detail-title {
        height: 47px;
        border-bottom: 1px solid #e8e8e8;
        padding: 0 16px 0;
        .tabbar-right-content {
            float: right;
            height: 100%;
            line-height: 47px;
            .tabbar-right-content-msg {
                float: left;
                font-size: 12px;
                color: #828A92;
                margin-right: 10px;
                vertical-align: middle;
                &>span {
                    color: #333;
                    vertical-align: baseline;
                }
            }
            .ant-select-selection {
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
    }
    
    .mail-report-wrapper {
        .tree_container {
            width: 100%;
            margin-bottom: 10px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
        }
        .mail-report-wrapper-l {
            width: 960px; // width: 100%;
            float: left;
        }
        .mail-report-wrapper-r {
            width: 298px;
            float: right;
        }
        .report_list {
            margin-bottom: 10px;
        }
        .ant-list-empty-text {
            display: none;
        }
    }
    
    .subscribe_empty {
        background-color: white;
        height: 236px;
    }
    
    .mail-con-nav-body {
        display: flex;
        align-items: center;
        height: 100%;
        float: left;
        .ant-tabs {
            height: 100%;
            float: left;
        }
        .ant-tabs-bar {
            // padding: 0 15px;
            margin-bottom: 0;
            border: none;
        }
        .ant-tabs-ink-bar {
            display: none;
        }
        .ant-tabs-tab {
            color: #666;
            font-size: 14px;
            position: relative;
            padding: 13px 35px;
            margin-right: 25px;
            user-select: none;
            &.ant-tabs-tab-active {
                color: #287DDC;
                font-weight: normal;
            }
            &.ant-tabs-tab-disabled {
                cursor: not-allowed;
                color: #999;
                pointer-events: auto;
            }
            &.ant-tabs-tab-active {
                ::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    height: 2px;
                    background-color: #1890ff;
                    -webkit-transform-origin: 0 0;
                    -ms-transform-origin: 0 0;
                    transform-origin: 0 0;
                }
            }
        }
        .ant-tabs-extra-content {
            height: 46px;
            line-height: 46px;
        }
    }
    
    .container {
        width: 1280px;
        margin: 0 auto;
    }
    
    // 武汉研报的样式
    .ant-select-selection-selected-value {
        font-size: 12px;
    }
    
    .ant-layout-content {
        background: #f8f8f8;
    }
    
    .display_none {
        display: none !important;
    }
    
    .visibility_hidden {
        visibility: hidden;
    }
    
    .middle {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }
    
    .center {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    
    .col_center_middle {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .center_middle {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex !important;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    
    .space_between {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }
    
    .space_around {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
    
    .right {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-end !important;
        -ms-justify-content: flex-end !important;
        justify-content: flex-end !important;
    }
    
    .cursor_pointer {
        cursor: pointer;
    }
    
    .ant-back-top {
        z-index: 999999 !important;
    }
}