$dColor : #555;
$upColor : #D0021B;
$downColor : #04a92b;
$hoverColor : #2563C1;

:local(.localClass){padding: 10px;font-size: 12px;line-height: 18px;
    span{display: inline-block;}
    .name{border-radius: 4px;background: #E9EBEE;color: #445C7C;padding: 0 4px;font-size: 14px;}
    .dataTit{width: 50px;}
    .dataNum{color: $dColor;font-style: normal;}
    .date{color: #9B9B9B;}
    .row{margin-bottom: 10px;
        .col{}
    }
    .row:last-child{margin-bottom: 0;}
    .up{background: none;
        .dataNum{color: $upColor;}
    }
    .down{background: none;
        .dataNum{color: $downColor;}
    }
}

.ypeng-antd-StockPopup{
    .ant-popover-inner{background: none;border-radius: 0;}
    .ant-popover-inner-content{padding: 0;
        .noDataTipWrap{display: flex;justify-content: center;align-items: center;background: #fff;border-radius: 4px;padding: 30px;
			.noDataTips{text-align: center;line-height: normal;color: #999;font-size: 12px;}
		}
    }
}