
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
fieldset, lengend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    color: #333;
    background: #fff;
    height: 100%;
    font-family: "Helvetica Neue", "Microsoft YaHei", "STHeiti", "Helvetica", "Tahoma", "Arial", "\5b8b\4f53", "sans-serif";
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}
button, input, select, textarea {
    font-size: 100%;
    font-family: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
address, cite, dfn, em, var {
	font-style: normal;
}
strong{
	font-weight: normal;
}
i{font-style: normal}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   
    /* WebKit browsers */   
   color: #999;   
   }   
   input:-moz-placeholder, textarea:-moz-placeholder {   
   /* Mozilla Firefox 4 to 18 */   
   color: #999;   
   }   
   input::-moz-placeholder, textarea::-moz-placeholder {   
    /* Mozilla Firefox 19+ */   
   color: #999;   
   }   
   input:-ms-input-placeholder, textarea:-ms-input-placeholder {   
    /* Internet Explorer 10+ */   
   color: #999;   
}