.table-filter-container{
	display: inline-block;
}
.menu-container{
	background:#fff;
	padding:10px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
	border-radius: 2px;
	.filterResult{
		width:270px;
		min-height:45px;
		background: #fff;
		border: 1px solid #DDDDDD;
		border-radius: 2px;
		margin:0 0 10px 0;
	}
	.item-right{
		display:inline-block;
		float: right;
	}
	.search-input{
		margin:0 0 10px 0;
	}
	.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
        border-right: none;
	}
	.filterResult-tip{
		background: #F7F7F7;
		font-family: PingFangSC-Regular;
		font-size: 14px;
		color: #BCBBBB;
		letter-spacing: 0;
		height: 50px;
		width: 100%;
		line-height: 50px;
		text-align: center;
	}
	.filterResult-item{
		font-family: PingFangSC-Regular;
		font-size: 12px;
		color: #287DDC;
		letter-spacing: 0;
		line-height: 14px;
		background: rgba(40,125,220,0.15);
        border-radius: 2px;
        margin:4px;
	}
	.filterResult-item:after{
        content:'×';
        margin-left:6px;
        margin-right:4px;
	}
	.filterResult-clear{
		font-family: PingFangSC-Regular;
		font-size: 12px;
		color: #FFFFFF;
		letter-spacing: 0;
		line-height: 14px;
		background: #DC5353;
		border-radius: 2px;
	}
	.filterResult-clear:after{
        content:'×';
        margin-left:6px;
        margin-right:4px;
	}
	button{
		margin-left:140px;
	}
	ul{
		overflow: auto;
        max-height: 200px;
	}
	.ant-checkbox{
		margin-left:-12px;
	}
	.checkAll{
		margin-left:16px;
	}
}

