.HKBottomComponent {
    span {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 49%;
        &:nth-child(2) {
            display: inline-block;
            width: 1px;
            background-color: #E7E7E7;
            height: 5vh;
            margin-top: 7px;
        }
        p {
            margin: 15px 0;
            i {
                font-style: normal;
                font-size: 12px;
                font-family: PingFangSC-Regular;
                color: rgba(155, 159, 164, 1);
                font-weight: normal;
                margin-right: 10px;
            }
            font-size:13px;
            font-family:PingFangSC-Medium;
            color:rgba(74, 74, 74, 1);
            font-weight: bold;
        }
    }
}