.MyChartDatabaseResult {
    width: 100%;

    .content {
        //background-color: #fff;
        margin-bottom: 12px;
        box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .03);
        border: 1px solid #eee;

        .header {
            background-color: #fff;
            font-size: 14px;
            color: #4a4a4a;
            height: 45px;
            display: flex;
            align-items: center;
            padding:20px;
            border-bottom: 1px solid #eee;
            width: 100%;

            .title {
                flex: 1;
                display: flex;
                align-items: center;
                span{
                    background-color: #eceef3;
                    font-size: 13px;
                    color: #407cd5;
                    padding: 5px 10px;
                    border-radius: 25px;
                    height: 20px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    margin: 0 10px;
                }
                label{
                    display: none;
                    background-color: #fffaeb;
                    display: inline-block;
                    color: rgba(0,0,0,.65);
                    margin: 0 10px;
                    font-size: 12px;
                    padding: 0 5px;
                    height: 32px;
                    line-height: 32px;
                    border: 1px solid #FFE9A7;
                    position: relative;
                    a{
                        display: inline-block;
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        border-right: 2px solid #ffe9a7;
                        position: absolute;
                        left: -3px;
                        top: 10px;
                    }
                    img{
                        width: 10px;
                        height: 10px;
                        margin: 0 5px;
                    }
                }
            }

            .filter {
                color: #ddd;
            }
            img{
                width: 10px;
                margin: 0 0 0 5px;
                cursor: pointer;
            }
        }

        .result-wrap {
            padding: 15px 10px 0px 10px;
            .ant-row {
                margin: 0 !important;
                .ant-col-8 {
                    margin-bottom: 15px !important;
                }
            }
            .abc-c-chart-card {
                text-align: left;
                margin: 20px auto 10px;
            }
        }

        .loadingData{
            height: 200px;
            width: 100%;
            display: flex;
            align-items: center;
        }
        .ant-spin-spinning {
            opacity: 1;
            position: static;
            display: inline-block;
            margin: auto;
        }
        .footer{
            position: relative;
            background-color: #fff;
            height: 45px;
            text-align: center;
            line-height: 45px;
            border-top: 1px solid #eee;
            cursor: pointer;
            span {
                padding:0 2px;
                color: #1890ff;
            }
        }
    }
}