.ResultTableConlistCon{
  > table{border-collapse: collapse;overflow: hidden;border-bottom: 1px solid #f0f0f0;
    tr{
      th,  td{border: 0;padding: 5px 15px;color: #757575;font-size: 12px;white-space: nowrap;}
      th{ text-align: left;color: #333;}
      td{
        background-color: #f6f6f6;
        color: #5D5D5D;
        text-overflow: ellipsis;
      }
    }
    tr.odd td{background: #f7f8fa;}
    tr.even td{background: #fff;}
    tr.even:last-child td{border-bottom: 1px solid #f0f0f0;}
    tr.head-flag th, tr.head-flag td{background: #949cb3;color: #fff;border: 1px solid rgba(212, 212, 212, 0.25);}
  }
}
