.abc-data-search-results {
    .result-wrap {
        .abc-c-chart-card {
            text-align: left;
            margin: 20px auto 10px;
        }
    }
    .abc-bottom-loading{
        border-top: 1px solid #e8e8e8;
    }
}