.clearfix:after{content: '';display: block;height: 0;overflow: hidden;clear: both;}
.ant-select-dropdown {
  font-size: 12px !important;
}
.compre-filter-tool{
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  background: #f8f8f8;
  border-radius: 2px;

  .news-count{
    float: left;
    font-size: 12px;
    color: #4a4a4a;
    font{color: #333;font-weight: bold;}
  }
  .resultNumWrap{font-size: 12px;color: #4A4A4A;
    span{color: #333;font-weight: bold;}
  }

  .news-priority {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .ant-select-selection{
      border: 0;
      background-color: initial;
      font-size: 13px;
      box-shadow: none;
    }
    .ant-select-arrow:before{
      font-size: 12px;
      content: "\E606";
      transform: scale(0.6666);
      color: #8c8c8c;
    }
    .ant-select-selection__rendered{
      color: #828A92;
      margin-left: 16px;
      .ant-select-selection-selected-value {
        line-height: 32px;
        padding-right: 0px;
      }
    }
    float: left;

    & > span.active{
      color: #287DDC;
    }
    & > span{
      padding: 0 8px;
      font-size: 13px;
      cursor: pointer;
      border-right: 1px solid #e5e5e5;
    }
    & > span:last-child{
      border-right: none;
    }
  }
}

.fl{
  float: left;
}

//.abc-compre-result-list-filter {
//    padding: 0 2px;
//    height: 20px;
//    margin-bottom: 10px;
//
//    .batch-export-button {
//        display: inline-block;
//        position: relative;
//        text-align: center;
//        white-space: nowrap;
//        vertical-align: middle;
//        user-select: none;
//        border: none;
//        outline: none;
//        padding: 0;
//        font-size: 13px;
//        color: #828A92;
//        line-height: 15px;
//        border-radius: 0;
//        background: transparent;
//        cursor: pointer;
//    }
//
//    .filter-item {
//        display: inline-block;
//        font-size: 12px;
//        color: #828A92;
//        font-weight: 400;
//
//        .ant-select-selection--single {
//            background-color: transparent;
//            border: none;
//            -webkit-box-shadow: none;
//            box-shadow: none;
//            font-size: 13px;
//            color: #828A92;
//            font-weight: 400;
//        }
//    }
//    .fr {
//        float: right;
//    }
//}
//.abc-select-option-item {
//    font-size: 12px;
//    line-height: 17px;
//    color: #3B3B3B;
//}